.header {
  border: 1px solid red;
}

.headerContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.mainInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mainLogo {
  width: 220px;
  height: 100px;
  margin-bottom: 10px;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 225px;
  }
}

.mainText {
  font-size: 12px;
  line-height: 1.9;
  text-align: center;
  display: block;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
  }
}

.mainText_name {
  width: 200px;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: auto;
  }
}

.mainText_delivery {
  width: 240px;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: auto;
  }
}

.timeForWork {
  font-size: 10px;
  line-height: 1.9;
  margin-bottom: 10px;
  width: 100px;
  text-align: center;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    font-size: 16px;
    width: 150px;
    text-align: left;
  }
}

.buttonCallMe {
  background-color: var(--primary-color);
  border-radius: 15px;
  color: var(--light-color);
  padding: 10px 15px;
  font-size: 10px;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0px #00000040;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    font-size: 22px;
    box-shadow: none;
  }
}

.iconMenu {
  position: relative;
  width: 20px;
  height: 20px;
  color: var(--primary-color);
  left: 100px;
  bottom: 10px;
}

.logoAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  justify-content: space-around;
}

.infoAndTimeWork,
.contactsAndBasket {
  width: 30%;
}

.contactsAndBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.contacts {
  font-size: 16px;
  line-height: 2;
  width: 150px;
  text-align: center;
}

.buttonBasket {
  font-size: 14px;
  line-height: 1.12;
  margin-top: auto;
  color: inherit;
  font-weight: inherit;
  background-color: var(--light-color);
}
