.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.imageWrapper {
    width: 512px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    
}
.image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.btnWrapper {
    width: 512px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
}
.btnPrev {
    margin-right: auto;
    width: 50px;
    height: 80px;
    border-radius: 0 15px 15px 0;
    background: rgba(255, 255, 255, 0.90);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background: rgba(255, 255, 255, 0.70);
    }
}
.btnNext {
    width: 50px;
    height: 80px;
    border-radius: 15px 0 0 15px;
    background: rgba(255, 255, 255, 0.90);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            background: rgba(255, 255, 255, 0.65);
        }

}
.btnArrow {
    fill: var(--primary-color);
}
.textWrapper {
    width: 512px;
    height: 320px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
}
.titleWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -12px;
}
.title {
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: var(--light-color);      
}


.detailsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 96px;
}
.ingredientslsBlock {
    width: 170px;
    height: 240px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #CEC1D4;
    background: var(--light-color);

    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ingredientsTitle {
    font-size: 14px;
    margin-bottom: 5px;
}
.ingredient {
    list-style-type: '-';
    padding-inline-start: 0,8ch;
}
.ingredientsWarnings {
    color: #EB5757;
}
.detailsBlock {
    width: 170px;
    height: 240px;
    padding: 16px;
    border-radius: 15px;
    border: 1px solid #CEC1D4;
    background: var(--light-color);

    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.detailsList {
    height: 126px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.seasonsItem {
    height: 20px;
}
.comment {
    color: #EB5757;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 6px 32px 0 48px;
}
.orderBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    width: 138px;
    height: 32px;
    border-radius: 40px;
    background-color: var(--primary-light-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    color: var(--light-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
            background-color: #cec1d4ad;
    }
}
