.confirmCallBack {
  position: relative;
  background-color: #cec1d4;
  padding: 30px 20px;
  border-radius: 20px;
  width: auto;
  height: auto;
}

.message {
  font-size: 12px;
  line-height: 1.12;
  text-align: center;
  width: 290px;
}
