.listIcons {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;

  & li:not(:last-child) {
    margin-right: 15px;
  }
}

.socialIcon {
  width: 20px;
  height: 20px;
}
