.socialIconsScreen {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & li:not(:last-child) {
    margin-right: 15px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.socialIconsMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
