.title {
color: var(--primary-color);
text-align: center;
font-size: 65px;
font-weight: 700;
line-height: 100%;
text-transform: uppercase;
}

.title.light {
  color: var(--light-color);
  font-size: 85px;
  text-shadow: var(--primary-color) 3px 3px 10px;
}