.title {
color: #714787;
text-align: center;
font-size: 65px;
font-weight: 700;
line-height: 100%;
text-transform: uppercase;
}

.title.light {
  color: #fff;
  font-size: 85px;
  text-shadow: #714787 3px 3px 10px;
}